mirannotation/.Rhistory
mirannotation/bowtie/
mirannotation/bowtie2/
mirannotation/bwa/
mirannotation/chimira_blast/
mirannotation/debug/
mirannotation/gem/
mirannotation/hairpin.fa
mirannotation/hairpin.fa.gz
mirannotation/isomir-sea/
mirannotation/mature.fa
mirannotation/miRNA.str
mirannotation/microrazer/
mirannotation/miraligner-python/
mirannotation/miraligner/
mirannotation/mirexpress/
mirannotation/mirtop/
mirannotation/novo/
mirannotation/razer/
mirannotation/render.sh
mirannotation/sim.20.hsa.fq
mirannotation/sim.20.hsa_unique.fa
mirannotation/sim.21.hsa.fa
mirannotation/sim.21.hsa.fq
mirannotation/sim.21.hsa_unique.fa
mirannotation/srnabench/
mirannotation/star/
mirannotation/tools/GEMTools-static-i3-1.7.1.tar.gz
mirannotation/tools/blast-2.2.26-x64-linux.tar.gz
mirannotation/tools/blast-2.2.26/
mirannotation/tools/data_v2/
mirannotation/tools/gemtools-1.7.1-i3/
mirannotation/tools/miRExpress.2.1.4.tar.gz
mirannotation/tools/miRExpress/
mirannotation/tools/mirbase21_precursor.tar.gz
mirannotation/tools/ncbi-blast-2.2.21+-x64-linux.tar.gz
mirannotation/tools/ncbi-blast-2.2.21+/
mirannotation/tools/sRNAbench.jar
mirannotation/tools/sRNAbenchDB.tgz
mirannotation/tools/sRNAbenchDB/
mirannotation/tools/seqan-apps-1.4.2-Linux-x86_64.tar.bz2
mirannotation/tools/seqan-apps-1.4.2-Linux-x86_64/
